{% extends 'base.html'%}


{% block title%}
Dashboard
{% endblock title%}

{% block body%}

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Product Name</th>
                      <th scope="col">Product Type</th>
                      <th scope="col">Product</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                  {% for i in login%}
                    <tr id ="entry_{{forloop.counter}}">
                      <th scope="row">"</th>
                        
                             <td>
                                 {{i.id}}
                             </td>    

                             <td>
                                 {{i.name}}
                             </td>

                             <td>
                                 {{i.email}}
                             </td>
                             <td>
                                 {{i.city}}
                             </td>
                      
                    </tr>
                    {% endfor %}
                  
                  </tbody>
                </table>
        </form>
{% endblock body%} 