{% extends 'base.html'%}

{% block title%} Dashboard {% endblock title%}


{% block body%}


      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<table border="2">

            <nav class="navbar navbar-expand-lg navbar-danger bg-light">
              <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                      <a class="nav-link" href="#">Product</a>
                    </li>
                </div>
              </div>
            </nav>


        <section class="container">
            <div class="row justify-content-around text-center text mt-5">
                <div class="col-sm-8 border">
                    <h3> eCommerce Product Details</h3>
                </div>
            </div>
        
        
    <div class="row">    
    <div class="col-sm-8">
        <a href='prod/{{params.id}}' class="btn btn-primary">Add Product</a>
    </div>
    </div>
                        <div class="row justify-content-around text-center text white mt-5"
                           <table class="table table-dark">
                                     <thead>
                                       <tr>
                                         <th scope="col">ID</th>
                                         <th scope="col">Product Name</th>
                                         <th scope="col">Product Type</th>
                                         <th scope="col">Product</th>
                                         <th scope="col">Product Price</th>
                                         <th scope="col">Product Quantity</th>
                                         <th scope="col">Product Total</th>

                                       </tr>
                                     </thead>
                                    <tbody>
                                         
                                    {% for i in profile%}
                                      <tr id="entry_{{forloop.counter}}"> 
                                          <td> 
                                            {{i.id}}
                                         </td> 
                    
                                         <td> 
                                            {{i.prname}}
                                         </td> 
                                         
                                         <td> 
                                            {{i.prtype}}
                                         </td>          

                                         <td> 
                                            {{i.prprice}}
                                         </td>          

                                         <td> 
                                            {{i.prqty}}
                                         </td>          

                                         <td> 
                                            {{i.prtotal}}
                                         </td>          

                                         <td> 
                                            <a href="/prod/{{i.id}}">{{i.pr}}</a> 
                                         </td> 
                  
                                        <td>   
                                                <button onclick="myFunction({{i.id}}, {{forloop.counter}})" type="button">Delete</button>
                                        </td> 
               
                                      </tr>  
                                    {% endfor %}

                                  </tbody>
                                </table>
                              </table> 






























































{% endblock body%}