<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Products Display</title>
  </head>
  
  <body>
        <div class="container">
          <div class="card-cloumns my-5">  
            <div class="card mx-2">
               <img src="{{params.primage.url}}" class="center">
                <div class="card-body">
                  <h5 class="card-title">{{i.prname}}</h5>
                    <p class="card-text">{{i.prtype}}</p>
                    <p class="card-text"><small class="text-muted">{{i.prtotal}}</small></p>
                </div>
            </div>
          </div>
        </div>      
  </body>
</html>